.carrito {
  width: 3.5em;
  height: 3.5em;
  margin-left: 2em;
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 16px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  color: #3498db;
}
