footer {
  height: 14em;
  width: 100%;
  background-color: #d4e6f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.redes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.redes img {
  width: 4em;
  height: auto;
  cursor: pointer;
}

.footer p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  color: #3498db;
}
