.display-page {
  background-image: radial-gradient(
    circle at -18.3% 68.3%,
    #19191a 0,
    #19191a 3.33%,
    #19191a 6.67%,
    #19191a 10%,
    #19191a 13.33%,
    #19191a 16.67%,
    #19191a 20%,
    #1a191a 23.33%,
    #1a191a 26.67%,
    #1a191a 30%,
    #1a1919 33.33%,
    #1a1919 36.67%,
    #1a1919 40%,
    #1a1919 43.33%,
    #1a1919 46.67%,
    #1a1919 50%,
    #1a1919 53.33%,
    #1a1919 56.67%,
    #1a1919 60%,
    #1a1919 63.33%,
    #1a1919 66.67%,
    #1a1919 70%,
    #1a1919 73.33%,
    #1a1919 76.67%,
    #1a1919 80%,
    #191919 83.33%,
    #191919 86.67%,
    #191919 90%,
    #191919 93.33%,
    #191919 96.67%,
    #191919 100%
  );
}

.cart {
  text-align: center;
  font-size: 25px;
}

.tittle-page {
  background-color: rgba(117, 116, 116, 0.292);
  color: white;
  padding: 30px;
  text-align: center;
}

.cart-info {
  text-align: center;
}

.cart-vacio {
  text-align: center;
}

.button-menu {
  font-size: 20px;
  align-items: center;
}

.button-menu {
  width: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7b035;
}
